.rwd-table {
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table thead tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

/* .rwd-table tbody tr:nth-child(odd):not(:first-child) { */
.rwd-table tbody tr:nth-child(odd){ 
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 100%;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}


.rwd-hide-600, .rwd-hide-700, .rwd-hide-800, .rwd-hide-900 {
  display: none !important;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  /* .rwd-table tbody tr:hover:not(:first-child) { */
  .rwd-table-600 tbody tr:hover {
    background-color: #d8e7f3;
  }
  .rwd-table-600 td:before {
    display: none;
  }
  .rwd-table-600 th,
  .rwd-table-600 td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table-600 th:first-child,
  .rwd-table-600 td:first-child {
    padding-left: 0;
  }
  .rwd-table-600 th:last-child,
  .rwd-table-600 td:last-child {
    padding-right: 0;
  }
  .rwd-table-600 th,
  .rwd-table-600 td {
    padding: 1em !important;
  }
  .rwd-hide-700 {
    display: block !important;
  }
}


@media screen and (min-width: 700px) {
  /* .rwd-table tbody tr:hover:not(:first-child) { */
  .rwd-table-700 tbody tr:hover {
    background-color: #d8e7f3;
  }
  .rwd-table-700 td:before {
    display: none;
  }
  .rwd-table-700 th,
  .rwd-table-700 td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table-700 th:first-child,
  .rwd-table-700 td:first-child {
    padding-left: 0;
  }
  .rwd-table-700 th:last-child,
  .rwd-table-700 td:last-child {
    padding-right: 0;
  }
  .rwd-table-700 th,
  .rwd-table-700 td {
    padding: 1em !important;
  }
  .rwd-hide-700 {
    display: block !important;
  }
}


@media screen and (min-width: 800px) {
  /* .rwd-table tbody tr:hover:not(:first-child) { */
  .rwd-table-800 tbody tr:hover {
    background-color: #d8e7f3;
  }
  .rwd-table-800 td:before {
    display: none;
  }
  .rwd-table-800 th,
  .rwd-table-800 td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table-800 th:first-child,
  .rwd-table-800 td:first-child {
    padding-left: 0;
  }
  .rwd-table-800 th:last-child,
  .rwd-table-800 td:last-child {
    padding-right: 0;
  }
  .rwd-table-800 th,
  .rwd-table-800 td {
    padding: 1em !important;
  }
  .rwd-hide-800 {
    display: block !important;
  }
}



@media screen and (min-width: 900px) {
  /* .rwd-table tbody tr:hover:not(:first-child) { */
  .rwd-table-900 tbody tr:hover {
    background-color: #d8e7f3;
  }
  .rwd-table-900 td:before {
    display: none;
  }
  .rwd-table-900 th,
  .rwd-table-900 td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table-900 th:first-child,
  .rwd-table-900 td:first-child {
    padding-left: 0;
  }
  .rwd-table-900 th:last-child,
  .rwd-table-900 td:last-child {
    padding-right: 0;
  }
  .rwd-table-900 th,
  .rwd-table-900 td {
    padding: 1em !important;
  }
  .rwd-hide-900 {
    display: block !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */


@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}